/* From Uiverse.io by reglobby */ 
.input {
    border: none;
    border-bottom: #333 0.2px  solid;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background:none;
    border-radius: 2px;
    transition: all 0.5s;
    color: #333;
  }
  
  .input:hover,
  .input:focus {
    border: 1px solid #4A9DEC;
    border-radius: 16px;
    background-color: white;
  }


.inputBoxAllodersSrearchbox {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;  
    border-bottom: 0.5px solid #ccc;
    width: 100%;               
    padding: 1rem;   

}


.AllInputOders{
 height: 100vh;
}
