.saveOrderSection {
  margin-top: 10px;
  margin-left: 0;
  display: block;
  position: relative;
}

.saveOrderButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* space below Notes */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  
} 