.DispatchTabale {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.ordersHeaderDispatch{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction:row;
  width: 95%;
  padding: 10px;
  padding-left: 20px;
  align-items: center;



}



.orderItem{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction:row;
  padding-left: 10px;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #ccc;

  
 
}


.ordersTable{
  font-size: small;
  justify-content:normal;
    display: grid;
  grid-template-columns: 0.8fr 1.7fr 1.8fr 2fr 1.3fr  0.3fr;
  
}

.orderItem{
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /* GPU acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.item-2 {
   /* width: 30vh;
  margin: 0 auto;
  margin-left: 25%; */


}
.item-3{
  width: 85vw;

}

.ButtonInDispatchDiv{
   display: flex;

   background: none;
   color: none
   ;
   flex-direction: column;

}


.ButtonINDispatch{
  font-weight: 900;

  background: none !important;
  color: black !important;


}


.orderItem.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
  /* Smooth transition for state change */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /* GPU acceleration */
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
  will-change: transform;
}

.status-list {
  padding: 8px;
  margin: 4px 0;
  border: none !important;
  /* Cross-browser fixes for select/input */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* IE11 fix for select dropdown */
.status-list::-ms-expand {
  display: none;
}