.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.header-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.back-button {
  font-size: 0.875rem;
  color: black;
  padding: 0.5rem 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.header-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #dc2626;
  padding-left: 100px;


   
  
  
}

.header-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
