.menu-container-create{
  font-size: smaller;
   font-weight: bold;
  padding: 10px;
  margin-left: 3px;
  margin-right: 3px;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid rgba(255, 255, 255, 0.33);
 
}