@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  color: #000;

  width: auto;
  overflow: hidden;

  flex-direction: column;
  justify-content: center;

}

body {

  justify-content: center;
  align-items: center;
  background-color :98F9FF;
  padding: 0;
  color: #1a1a1a;
  
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
 margin: 0;
padding: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  background-color: #646cff;
  border-radius: 6px;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

